<!DOCTYPE html>
<html>
<head>
  {% include "core/htmlHeader.html" %}
  {% include "core/tableOfContentsHeader.html" %}
</head>
<body>
<rtgl-view id="top" bgc="su" w="f" ah="c">
  <rtgl-view md-w="100vw" w="768" p="l">
    <rtgl-view h="72"></rtgl-view>
    <rtgl-text s="ll"><a href="/blog">Back</a></rtgl-text>
    <rtgl-text s="dm" mt="l"><a href="#" style="display: contents;">{{ title }}</a></rtgl-text>
    <rtgl-text s="sm" mt="s">{{ date | postDate }}</rtgl-text>
    <rtgl-view mt="l">
      {{ content }}
      <rtgl-view h="128"></rtgl-view>
      <rtgl-view bgc="su" w="f" ah="c">
        <rtgl-text s="ll"><a href="#top">Back to top</a></rtgl-text>
      </rtgl-view>
    </rtgl-view>
  </rtgl-view>

  <rtgl-view pos="fix" cor="right" style="top: 32px" sv w="256" h="100vh" p="xl" g="l" xl-hidden>
    {% include "core/tableOfContents.html" %}
  </rtgl-view>
  {% include "core/footer.html" %}
</rtgl-view>
{% include "core/header.html" %}
</body>
</html>