<!DOCTYPE html>
<html lang="en">

<head>
  {% include "core/htmlHeader.html" %}
</head>

<body class="dark">
  <rtgl-view bgc="su" w="f" ah="c" h="f">
    <rtgl-view d="h" w="f" h="f">
      <rtgl-sidebar items="{{ docs.items | json-escaped }}"></rtgl-sidebar>
      <rtgl-view flex="1" ah="c" h="100vh" sv id="content-container">
        <rtgl-view md-w="100vw" w="720" ph="xl" >
          {{ content }}
          <rtgl-view h="50vh"></rtgl-view>
        </rtgl-view>
      </rtgl-view>
      <rtgl-view sv w="256" h="100vh" p="xl" g="l" xl-hidden>
        <rtgl-page-outline id="page-outline"></rtgl-page-outline>
      </rtgl-view>
    </rtgl-view>
  </rtgl-view>
</body>

</html>