<rtgl-view g="m">
  {% for heading in tableOfContents %}
  <rtgl-view>
    <rtgl-text s="bs"><a href="#{{ heading.id }}" style="display: contents;">{{ heading.title }}</a></rtgl-text>
  </rtgl-view>
  {% for subheading in heading.items %}
  <rtgl-view pl="l">
    <rtgl-text s="bs"><a href="#{{ subheading.id }}" style="display: contents;">{{ subheading.title
        }}</a></rtgl-text>
  </rtgl-view>
  {% for subsubheading in subheading.items %}
  <rtgl-view pl="xl">
    <rtgl-text s="bs"><a href="#{{ subsubheading.id }}" style="display: contents;">{{ subsubheading.title
        }}</a></rtgl-text>
  </rtgl-view>
  {% endfor %}
  {% endfor %}
  {% endfor %}
</rtgl-view>
<rtgl-view h="48"></rtgl-view>