<rtgl-text s="ll"><a href="{{ back.href }}" aria-label="{{ back.text }}">{{ back.text }}</a></rtgl-text>
<rtgl-text s="dm" mt="l">{{ title }}</rtgl-text>
<rtgl-view d="v" mt="l">
  {{ subtitle }}
</rtgl-view>
<rtgl-view g="l" mt="xl">
  {%- for item in items -%}

  <rtgl-view d="h" g="l">
    <rtgl-view w="120">
      <rtgl-text c="on-su" s="tm">{{ item.date | postDate }}</rtgl-text>
    </rtgl-view>
    <rtgl-view flex="1">
      <rtgl-text c="on-su" s="tm"><a href="{{ item.url }}">{{ item.title }}</a></rtgl-text>
    </rtgl-view>
  </rtgl-view>

  {%- endfor -%}
</rtgl-view>